*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
cdk.context.json
.DS_Store
.vscode
gdk-config.json
build
greengrass-build
node_modules
claim-certs

# CDK asset staging directory
.cdk.staging
cdk.out
/.idea/
/*.iml
